body {
  font-family: "Sauce Grotesk", sans-serif;
  margin: 0;
  background-color: rgb(255, 210, 210);
  font-size: 20px;
  transition: background-color .5s ease-in-out;
}

section {
  max-width: 600px;
  padding: 70px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 140px);
  text-align: right;
  padding: 70px;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  margin-top: 0;
  text-indent: -0.45em;
}

h1.text-small {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 30px;
}
